body {
    background-color: hsl(218, 23%, 16%);
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
}

.advice-main {
    background-color: hsl(217, 19%, 24%);
    width: 750px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    text-align: center;
    padding: 50px;
}

.advice-main h4 {
    color: hsl(150, 100%, 66%);
}

.advice-main p {
    font-size: 50px;
    color: hsl(218, 20%, 77%);
}

.advice-main button {
    width: fit-content;
    margin: 0 auto;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50px;
    padding: 25px;
    border: none;
    margin-top: 25px;
}